.usersPage,
.friendsGeneral{
    display: grid;
    grid-gap: 10px;

    grid-template-rows: 1fr;

    /*background-color: lightyellow;*/
    opacity: 0.9;
    border-radius: 0 0 25px 0;
}

.usersPageNight   {}
.usersPageMorning {}
.usersPageDay     {background-color: lightyellow;}
.usersPageEvening {background-color: #eba0a0;}

.userInfo ul {
    min-height: 500px;
    height: auto!important;
    max-height: calc(100vh - 270px);
    overflow: auto;
}

.userInfo ul::-webkit-scrollbar {
    width:   15px;
    height:  70%;
    background-color: lightyellow;
    margin-right: 5px;
}

.userInfo ul::-webkit-scrollbar-button {
    height: 2%;
    background-color: lightgreen;
    /*border-radius: 10px;*/
}


.userInfo ul::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: lightgreen;
    border-radius: 4px;
}

.scrollerNight ul::-webkit-scrollbar          {background-color: lightyellow; }
.scrollerNight ul::-webkit-scrollbar-button   {background-color: deepskyblue; }
.scrollerNight ul::-webkit-scrollbar-thumb    {background-color: deepskyblue; }

.scrollerMorning ul::-webkit-scrollbar        {background-color: lightyellow; }
.scrollerMorning ul::-webkit-scrollbar-button {background-color: orangered;   }
.scrollerMorning ul::-webkit-scrollbar-thumb  {background-color: orangered;   }

.scrollerDay ul::-webkit-scrollbar            {background-color: lightyellow; }
.scrollerDay ul::-webkit-scrollbar-button     {background-color: lightskyblue;}
.scrollerDay ul::-webkit-scrollbar-thumb      {background-color: lightskyblue;}

.scrollerEvening ul::-webkit-scrollbar        {background-color: lightyellow; }
.scrollerEvening ul::-webkit-scrollbar-button {background-color: darkred;     }
.scrollerEvening ul::-webkit-scrollbar-thumb  {background-color: darkred;     }

.userInfo {
    /*overflow: auto;*/
}

.generalHeader {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 15px auto;
    border-bottom: 1px solid green;
    height: 50px;
}

.generalHeaderNight   {border-bottom: 1px solid blue;}
.generalHeaderMorning {border-bottom: 1px solid orangered;}
.generalHeaderDay     {border-bottom: 1px solid green;}
.generalHeaderEvening {border-bottom: 1px solid darkred;}

.userHeader {
    color: red;
    /*margin-left: 30px;*/
    width: 100px;
    margin: 0;
}

.paginationBlockOutside {
    display: flex;
    width: 50%;
    height: 45px;
    margin: 0 auto;
}

.pagBTN {
    /*background-color: lightgreen;*/
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
.pagBTNNight          {background-color: #4967ff;}
.pagBTNNight:hover    {background-color: midnightblue;color:white}
.pagBTNNight:active   {background-color: darkblue;color:white}

.pagBTNMorning        {background-color: #ff652a;}
.pagBTNMorning:hover  {background-color: #ff5b1d;color:white}
.pagBTNMorning:active {background-color:#ff4700;color:white}

.pagBTNDay            {background-color: #98eaff;}
.pagBTNDay:hover      {background-color: #6ad3ff;color:black }
.pagBTNDay:active     {background-color: #3ad7ff;color:black}

.pagBTNEvening        {background-color: indianred;}
.pagBTNEvening:hover  {background-color: darkred; color:white}
.pagBTNEvening:active {background-color: red; color:white}



.paginationBlockInside {
    width: 45px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    margin-left: -10px;
}

.paginationSelected {
    font-size: 25px;

}
.paginationSelectedNight   {}
.paginationSelectedMorning {}
.paginationSelectedDay     {color: red}
.paginationSelectedEvening {color: red}



.pagination {
    cursor: pointer;
    margin-left: 4px;
    font-size: 25px;
}
.paginationNight          {}
.paginationNight:hover    {}
.paginationNight:active   {}


.paginationMorning        {}
.paginationMorning:hover  {}
.paginationMorning:active {}


.paginationDay            {color: green;}
.paginationDay:hover      {}
.paginationDay:active     {}

.paginationEvening        {color: lightyellow;}
.paginationEvening:hover  {color: orangered;}
.paginationEvening:active {color: red}


.searchBlock {}
.searchInput {
    cursor: text;
    border-radius: 10px;
    outline: none;
    height: 40px;
    font-size: 20px;
}

.searchInputNight         {background-color: #fdfdfd}
.searchInputMorning       {background-color: #faffd3}
.searchInputDay           {background-color: lightyellow}
.searchInputEvening       {background-color: #ffe1e1;}


.friendsGeneral li,
.userInfo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.loaderDiv {
    margin: 150px auto;
    display: flex;
}

.loader{
    height: 250px;
    margin: 150px auto;
}

.userUnit {
    width: 95%;
    display: flex;
    margin: 25px auto;
}

.picAndButton {
    width: 20%;
    /*outline: 2px solid red;*/
    align-items: center;
    display: flex;
    flex-direction: column;
    /*position:  relative;*/
}

.picAndButton img {
    width: 150px;
    border-radius: 50%;
    /*border: 1px solid green;*/
}

.userAvaNight   {}
.userAvaMorning {}
.userAvaDay       {border: 3px solid transparent;}
.userAvaDay:hover {border: 3px solid green;}

.userAvaEvening {border: 3px solid transparent; }
.userAvaEvening:hover {border: 3px solid darkred;}


.followBTN {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    /*background-color: lightgreen;*/
    outline: none;
    border-radius: 10px;
    /*border: 2px solid green;*/
    cursor: pointer;
    font-size: 17px;
}

/*.followBTN:hover {*/
/*    color: dodgerblue;*/
/*    border: 2px solid dodgerblue;*/
/*}*/

/*.followBTN:active {*/
/*    color: blue;*/
/*    border: 2px solid blue;*/
/*}*/

.followBTNNight          {background-color: #4967ff;}
.followBTNNight:hover    {background-color: midnightblue;color:white}
.followBTNNight:active   {background-color: darkblue;color:white}


.followBTNMorning        {background-color: #ff652a;}
.followBTNMorning:hover  {background-color: #ff5b1d;}
.followBTNMorning:active {background-color:#ff4700;}


.followBTNDay            {background-color: lightgreen;  border: 2px solid green;}
.followBTNDay:hover      {background-color: #fdfd69;color:black }
.followBTNDay:active     {background-color: #f1f14f;color:black}


.followBTNEvening        {background-color: indianred;}
.followBTNEvening:hover  {background-color: darkred; color:white}
.followBTNEvening:active {background-color: red; color:white}


.modalWindow {
    position: absolute;
    height: 300px;
    width: 800px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: #cef3ff;
    margin-left: 200px;
    margin-top: 200px;
}
.miniHeader {
    height: 50px;
    border-radius: 10px 10px 0 0;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.miniHeader button {
    margin: 0 25px;
    height: 35px;
    min-width: 40px;
}
.miniHeader button:hover {
   background-color: red;
}
.textNBTN {
    display: flex;
    flex-direction: column;
}
.textNBTN textarea {
    width: 90%;
    margin: 5px auto;
    height: 200px;
    outline: none;
    border: none;
    font-size: 25px;
}
.textNBTN button {
    width: 10%;
    margin: 0 auto;
}
.windowTextarea {
    resize: none;
}



.feedbackWindow {
    position: absolute;
    height: 110px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #4f4f4f;
    left: 10px;
    bottom: 10px;

}
.feedBackVisible{
    opacity: 1;
    transition:  3s;
}
.feedbackHidden{
    opacity: 0;
    transition:  3s;
}
.feedbackWindow:hover {
    /*background-color: black;*/
}
.feedbackWindow button {
    width: 25px;
    border-radius: 5px;
    display: flex;
    margin: 5px 0 0 270px;
}
.feedbackWindow button:hover {
    background-color: #613233;
    cursor: pointer;
}
.feedbackWindow p {
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: 22px;
}



.userBlockInfo {
    width: 80%;
    border: 4px solid green;
    border-radius: 15px;
    display: flex;
}
.userBlockInfoNight   {border: 4px solid blue;}
.userBlockInfoMorning {border: 4px solid orangered;}
.userBlockInfoDay     {border: 4px solid green;}
.userBlockInfoEvening {border: 4px solid darkred;}

.nameAndState {
    width: 70%;
    margin-left: 15px;
}

.nameAndState a {
  text-decoration: none;
}

.nameAndState h2{
    margin-top: 35px;
}

.userNameNight          {color: #4967ff;}
.userNameNight:hover    {color: midnightblue;}
.userNameNight:active   {color: darkblue;}


.userNameMorning        {color: #ff652a;}
.userNameMorning:hover  {color: #ff5b1d;}
.userNameMorning:active {color:#ff4700;}


.userNameDay            {color: lightgreen;}
.userNameDay:hover      {color: #fdfd69; }
.userNameDay:active     {color: #f1f14f;}


.userNameEvening        {color: darkred;}
.userNameEvening:hover  {color: indianred; }
.userNameEvening:active {color: red; }


.nameAndState p {
    margin-top: 60px;
}

.countryAndCity {
    width: 30%;
}

.countryAndCity h2 {
    text-align: right;
    margin-right: 20px;
    margin-top:  35px;

}

.moreUserUnits {
    width: 90%;
    border-top: 1px solid green;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.moreUserUnitsNight   { border-top: 1px solid blue;     }
.moreUserUnitsMorning { border-top: 1px solid orangered;}
.moreUserUnitsDay     { border-top: 1px solid green;    }
.moreUserUnitsEvening { border-top: 1px solid darkred;  }

.moreUsersShower {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 20px ;
    cursor: pointer;
}

