/*::-webkit-scrollbar { !*параметры скроллера внутри блока с сообщениями*!*/
/*    width: 30px; height: 3px; background-color: green}*/
/*::-webkit-scrollbar-button {  !*параметры кнопок скроллера (верх и низ)*!}*/
/*::-webkit-scrollbar-track {  !*хер знает что за настройка*!}*/
/*::-webkit-scrollbar-track-piece { !*параметры направляющих скроллера*! }*/
/*::-webkit-scrollbar-thumb { !*параметры подвижного блока скроллера*!}*/
/*::-webkit-scrollbar-corner { !* тоже хер знает что за настройка*!}*/
/*::-webkit-resizer { !* тоже хер знает что за настройка*!}*/

.dialogsPage {
    border-radius: 5px 5px 20px 5px;
}
.dialogNight{background-color:#bee3fa}
.dialogMorning{background-color:#ffc150;}
.dialogDay{background-color: lightblue;}
.dialogEvening{background-color: #ff6969;}



.dialogListAndArea {
    display: grid;

    grid-template-areas: 'dialogList specificDialog';

    grid-template-columns: 1fr 3fr;

    min-height: 500px;
    height: auto!important;
    max-height: calc(100vh - 120px);
}

.dialogList {
    grid-area: dialogList;
    /*outline: 2px solid red;*/
    width: 100%;
    overflow: auto;
    /*direction: rtl;*/
    overflow-wrap: break-word;

    min-height: inherit;
    height: inherit;
    max-height: inherit;
}

.dialogListNight::-webkit-scrollbar                                                                      {background-color: lightyellow; }
.dialogListNight::-webkit-scrollbar-button,.dialogAreaNight ::-webkit-scrollbar-button:single-button     {background-color: deepskyblue; }
.dialogListNight::-webkit-scrollbar-thumb,.dialogAreaNight ::-webkit-scrollbar-thumb                     {background-color: deepskyblue; }

.dialogListMorning::-webkit-scrollbar                                                                    {background-color: lightyellow; }
.dialogListMorning::-webkit-scrollbar-button,.dialogAreaMorning::-webkit-scrollbar-button:single-button  {background-color: orangered;   }
.dialogListMorning::-webkit-scrollbar-thumb,.dialogAreaMorning::-webkit-scrollbar-thumb                  {background-color: orangered;   }

.dialogListDay::-webkit-scrollbar                                                                        {background-color: lightyellow; }
.dialogListDay::-webkit-scrollbar-button,.dialogAreaDay::-webkit-scrollbar-button:single-button          {background-color: lightskyblue;}
.dialogListDay::-webkit-scrollbar-thumb,.dialogAreaDay::-webkit-scrollbar-thumb                          {background-color: lightskyblue;}

.dialogListEvening ::-webkit-scrollbar                                                                   {background-color: lightyellow; }
.dialogListEvening ::-webkit-scrollbar-button,.dialogAreaEvening::-webkit-scrollbar-button:single-button {background-color: darkred;     }
.dialogListEvening ::-webkit-scrollbar-thumb,.dialogAreaEvening::-webkit-scrollbar-thumb                 {background-color: darkred;     }

.certainLoader {
    margin: 110% 0 0 25%;
}

.dialogList::-webkit-scrollbar {
    width:   5px;
    height:  70%;
}

.dialogList::-webkit-scrollbar-button {
    height: 7%;
    border-radius: 10px;
}

.dialogList::-webkit-scrollbar-thumb {
    width: 20px;
    border-radius: 4px;
}


.dialogList div {
    margin-top: 25px;
    padding-top: 10px;
}

.dialogList a {
    margin-left: 15px;
}

.dialogList a:first-child {}

.dialogList a:last-child {
    display: inline;
    text-decoration: none;
    font-size: 25px;
    /*color: dodgerblue;*/
    font-weight: bold;
    font-family: Arial;
}

/*.dialogList a:last-child:hover {*/
/*    color: blue;*/
/*}*/

/*.dialogList a:last-child:active {*/
/*    color: red;*/
/*}*/

/*.dialogList a.activeLink:last-child  {*/
/*    color: red;*/
/*}*/

.talkerBlock {
    width: 88%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    word-break: break-all;
    padding-right: 2%;
    hyphens: auto;
}
.talkerBlockNight           {background-color: #a9c2ff;}
.talkerBlockMorning         {background-color: #ffffef;}
.talkerBlockDay             {background-color: lightyellow;}
.talkerBlockEvening         {background-color: #ffddec;}



.talkerBlockANight          {color: blue;}
.talkerBlockANight:hover    {color: #606069;}
.talkerBlockANight:active   {color: white}
.activeLinkNight            {color: white}

.talkerBlockAMorning        {color: #f46c05;}
.talkerBlockAMorning:hover  {color: #3d3030;}
.talkerBlockAMorning:active {color: black}
.activeLinkMorning          {color: black}

.talkerBlockADay            {color: deepskyblue;}
.talkerBlockADay:hover      {color: royalblue;}
.talkerBlockADay:active     {color: red;}
.activeLinkDay              {color: red;}

.talkerBlockAEvening        {color: blueviolet}
.talkerBlockAEvening:hover  {color: blue}
.talkerBlockAEvening:active {color: darkred}
.activeLinkEvening          {color: darkred}

.talkerBlock:hover {
    overflow-x: auto;
}

.talkerBlock::-webkit-scrollbar {
    background-color: lightyellow;
    height: 7px;
    width: 90%;
    padding-top: 50px;
    -webkit-box-shadow: inset 0 0 6px grey;
    top: 10px;
}

.talkerBlock::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
}

.talkerBlock::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
}

.talkerBlock::-webkit-scrollbar-button {
    /*background-color: blue;*/
}
.talkerBlock::-webkit-scrollbar-track-piece {
    /*background-color: blue;*/
}

.talkerBlock img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.dialogsAreaAndSender {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*outline: 2px solid blue;*/
    overflow: visible;

    min-height: 600px;
    height: auto!important;
    /*max-height: calc(100vh - 150px );*/
    max-height: calc(100vh - 150px );
}

.editWrapper {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.editBlock{
    display: flex;
}

.visibility {
    display: none;
}

.editBlock h4{
    width: 200px;
    font-size: 25px;
}

.editBlock button {
    font-size: 25px;
    margin: 0 10px 0 10px;
}

.dialogArea {
    /*outline: 2px solid blue;*/
    grid-area: specificDialog;
    width: 95%;
    margin: 0 auto 0 auto;
    border-radius: 20px 20px 0 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: calc(500px - 150px);
    /*height: auto!important;*/
    height: 100vh;
    /*max-height: 1500px;*/
}
.dialogAreaNight  ,.textareaNight   {background-color: #fdfdfd}
.dialogAreaMorning,.textareaMorning {background-color: #faffd3}
.dialogAreaDay    ,.textareaDay     {background-color: lightyellow}
.dialogAreaEvening,.textareaEvening {background-color: #ffe1e1;}


.dialogArea img {
    /*height: 20%;*/
    width: 30%;
    margin: 25% auto;
}

.dialogArea:last-child {
    background-color: red;
}

.oldMsgsLoader {
    /*outline: 2px solid red;*/
    display: flex;
    height: 20px;
}

.oldMsgsLoader img {
    margin: 0 auto;
    width: 100%;
    height: 20px;
    /*outline: 2px solid red;*/
}

.messageBlockMe,
.messageBlockUser {
    padding: 2px 15px 5px 15px;
    min-width: 10%;
    width: auto !important;;
    max-width: 60%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.messageBlockMe {
    border-radius: 15px 15px 5px 15px;
    margin: 15px 25px 25px auto;
}

.messageBlockMe::after {
    content: '';
    border: 20px solid transparent;
    position: absolute; /* Абсолютное позиционирование */
    right: -15px; bottom: 0; /* Положение треугольника */
    /*border-left: 20px solid lightgreen; !* Прозрачные границы *!*/
    /*border-left: 20px solid red; !* Прозрачные границы *!*/
    /*border-top: 10px solid green; !* Добавляем треугольник *!*/
    transform: rotate(-80deg)
}

.messageBlockUser::after {
    content: '';
    border: 20px solid transparent;
    position: absolute;
    left: -15px;
    bottom: 0;
    /*background-color: #cef3ff;
    /*background-color: red;*/
    /*border-top: 10px solid red;*/
    border-top: 20px solid #cef3ff;
    transform: rotate(-190deg)
}

.myMsgNight            {background-color: #b8e9b8}
.myMsgNight::after     {content:'';border-left: 20px solid #b8e9b8; }

.myMsgMorning          {background-color: #abffab;}
.myMsgMorning::after   {content:''; border-left: 20px solid #abffab;}

.myMsgDay              {background-color: lightgreen;}
.myMsgDay::after       {content:'';  border-left: 20px solid lightgreen;}

.myMsgEvening          {background-color: #6fd76f;}
.myMsgEvening::after   {content:''; border-left: 20px solid #6fd76f;}


.userMsgNight          {background-color: #a6ebff}
.userMsgNight::after   {content:''; border-top: 20px solid #a6ebff;}

.userMsgMorning        {background-color: #c7eef9}
.userMsgDay::after     {content:'';border-left: 20px solid #dbf7ff; }

.userMsgDay            {background-color: #cef3ff;}
.userMsgDay::after     {content:''; border-top: 20px solid #cef3ff;}

.userMsgEvening        {background-color:  #cef3ff;}
.userMsgEvening::after {content:''; border-top: 20px solid #cef3ff;}


.messageBlockUser {
    border-radius: 15px 15px 15px 0;
    margin: 15px auto 25px 20px;
}

.messageBlockMe:hover,
.messageBlockUser:hover {
    transition: 100ms;
    filter: grayscale(.70);
}

.editWrapper {
    height: 35px;
}

.editWrapper button {
    font-size: 25px;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
}

.editWrapper button:first-child {
    color: red;
    margin-right: 10px;
}

.editWrapper button:nth-child(2n) {
    color:  blue;
    margin-left: 10px;
}

.editWrapper button:hover {
    cursor: pointer;
}


.selectedMsg {
    /*opacity: 0.5;*/
    /*transition: 200ms;*/
    /*!*padding: 0 50px 0 50px;*!*/
    /*!*filter: blur(1px);*!*/
    /*filter: grayscale(.50)*/

    /*display: none;*/

    outline: 2px solid red;
}

.messageBody {
    color: black;
    font-size: 22px;
    margin: 0;
    text-align: left;
}

.messageBlockTimeMe {
    color: green;
    font-size: 14px;
    margin: 0;
    text-align: right;
}

.messageBlockTimeUser {
    color: blue;
    font-size: 14px;
    margin: 0;
    text-align: right;
}

.dialogArea::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

.dialogArea::-webkit-scrollbar-thumb {
    height: 50px;
}

.dialogArea::-webkit-scrollbar-button:single-button {
    height: 20px;
    border-radius: 12%;
}
/*.dialogAreaNight::-webkit-scrollbar-thumb {background-color: deepskyblue;}*/
/*.dialogAreaNight::-webkit-scrollbar-button:single-button {background-color: deepskyblue;}*/

/*.dialogAreaMorning {}*/
/*.dialogAreaDay::-webkit-scrollbar-thumb { background-color: lightskyblue;}*/
/*.dialogAreaDay::-webkit-scrollbar-button:single-button { background-color: lightskyblue;}*/

/*.dialogAreaEvening::-webkit-scrollbar-thumb {background-color: darkred;}*/
/*.dialogAreaEvening::-webkit-scrollbar-button:single-button  {background-color: darkred;}*/

.sender {
    height: 180px;
    /*background-color: red;*/
    border-radius: 0 0 20px 0;
    width: 100%;
}

.sender form {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sender textarea {
    /*text-indent: 25px;*/
    width: 93%;
    padding-left: 2%;
    margin: 25px 0 0 0;
    outline: none;
    resize: none;
    height: 70px;
    border: none;
    font-size: 22px;
    border-radius: 0 0 20px 20px;
}


.sender .sendBTN {
    margin: 10px 0 0 0;
    font-size: 25px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    outline: none;
}
.sendBTNNight          {background-color: #4967ff;}
.sendBTNNight:hover    {background-color: midnightblue;color:white}
.sendBTNNight:active   {background-color: darkblue;color:white}


.sendBTNMorning        {background-color: #ff652a;}
.sendBTNMorning:hover  {background-color: #ff5b1d;color:white}
.sendBTNMorning:active {background-color:#ff4700;color:white}


.sendBTNDay            {background-color: #98eaff;}
.sendBTNDay:hover      {background-color: #6ad3ff;color:black }
.sendBTNDay:active     {background-color: #3ad7ff;color:black}


.sendBTNEvening        {background-color: indianred;}
.sendBTNEvening:hover  {background-color: darkred; color:white}
.sendBTNEvening:active {background-color: red; color:white}