/*::-webkit-scrollbar { !*параметры скроллера внутри блока с сообщениями*!*/
/*    width: 30px; height: 3px; background-color: green}*/
/*::-webkit-scrollbar-button {  !*параметры кнопок скроллера (верх и низ)*!}*/
/*::-webkit-scrollbar-track {  !*хер знает что за настройка*!}*/
/*::-webkit-scrollbar-track-piece { !*параметры направляющих скроллера*! }*/
/*::-webkit-scrollbar-thumb { !*параметры подвижного блока скроллера*!}*/
/*::-webkit-scrollbar-corner { !* тоже хер знает что за настройка*!}*/
/*::-webkit-resizer { !* тоже хер знает что за настройка*!}*/

.dialogsPage {
    border-radius: 5px 5px 20px 5px;
}

.delay {
    transition: 4000ms;
}

.dialogN {background-color:#bee3fa;    }
.dialogM {background-color:#ffc150;    }
.dialogD {background-color: lightblue; }
.dialogE {background-color: #4d0000;   }



.dialogListAndArea {
    display: grid;

    grid-template-areas: 'dialogList specificDialog';

    grid-template-columns: 1fr 3fr;

    min-height: 500px;
    height: auto!important;
    max-height: calc(100vh - 120px);
}

.dialogList {
    grid-area: dialogList;
    /*outline: 2px solid red;*/
    width: 100%;
    overflow: auto;
    /*direction: rtl;*/
    overflow-wrap: break-word;

    min-height: inherit;
    height: inherit;
    max-height: inherit;
}

.dialogListN::-webkit-scrollbar                                                                    {background-color: lightyellow;  }
.dialogListN::-webkit-scrollbar-button,.dialogAreaN::-webkit-scrollbar-button:single-button        {background-color: deepskyblue;  }
.dialogListN::-webkit-scrollbar-thumb, .dialogAreaN::-webkit-scrollbar-thumb                       {background-color: deepskyblue;  }

.dialogListM::-webkit-scrollbar                                                                    {background-color: lightyellow;  }
.dialogListM::-webkit-scrollbar-button,.dialogAreaM::-webkit-scrollbar-button:single-button        {background-color: orangered;    }
.dialogListM::-webkit-scrollbar-thumb, .dialogAreaM::-webkit-scrollbar-thumb                       {background-color: orangered;    }

.dialogListD::-webkit-scrollbar                                                                    {background-color: lightyellow;  }
.dialogListD::-webkit-scrollbar-button,.dialogAreaD::-webkit-scrollbar-button:single-button        {background-color: lightskyblue; }
.dialogListD::-webkit-scrollbar-thumb, .dialogAreaD::-webkit-scrollbar-thumb                       {background-color: lightskyblue; }

.dialogListE::-webkit-scrollbar                                                                    {background-color: lightyellow;  }
.dialogListE::-webkit-scrollbar-button,.dialogAreaE::-webkit-scrollbar-button:single-button        {background-color: darkred;      }
.dialogListE::-webkit-scrollbar-thumb, .dialogAreaE::-webkit-scrollbar-thumb                       {background-color: darkred;      }

.dialogListLoaderWrapper {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dialogListLoader {
    height: 80px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.dialogListLoaderWrapper :nth-child(2){
    height: 120px;
}


.dialogListLoaderWrapper :nth-child(3){
    transform: rotate(180deg)
}

.errorBlock {
    margin-left: 20px;
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.errorBlock h2 {
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    color: red;
}

.errorBlock div {
    height: 150px;
}

.errorBlock img {
    width: 150px;
    /*margin: 0 auto;*/
}

.errorBlock p {
    font-size: 25px;
}
.errBTN {
    border-radius: 10px;
    width: 150px;
    outline: none;
    font-size: 25px;
    /*margin: 0 auto;*/
}

.dialogList::-webkit-scrollbar {
    width:   5px;
    height:  70%;
}

.dialogList::-webkit-scrollbar-button {
    height: 7%;
    border-radius: 10px;
}

.dialogList::-webkit-scrollbar-thumb {
    width: 20px;
    border-radius: 4px;
}


.dialogList div {
    margin-top: 25px;
    padding-top: 10px;
}

.dialogList a {
    margin-left: 15px;
}

.dialogList a:first-child {}

.dialogList a:last-child {
    display: inline;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
}

/*.dialogList a:last-child:hover {*/
/*    color: blue;*/
/*}*/

/*.dialogList a:last-child:active {*/
/*    color: red;*/
/*}*/

/*.dialogList a.activeLink:last-child  {*/
/*    color: red;*/
/*}*/

.talkerBlock {
    width: 88%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    word-break: break-all;
    padding-right: 2%;
    hyphens: auto;
}
.talkerBlockN              {background-color: #a9c2ff;    }
.talkerBlockM              {background-color: #ffffef;    }
.talkerBlockD              {background-color: lightyellow;}
.talkerBlockE              {background-color: #ffe1e1;    }



.talkerBlockA_N            {color: blue;         }
.talkerBlockA_N:hover      {color: #606069;      }
.talkerBlockA_N:active     {color: white         }
.activeLinkN               {color: white         }

.talkerBlockA_M            {color: #f46c05;      }
.talkerBlockA_M:hover      {color: #3d3030;      }
.talkerBlockA_M:active     {color: black         }
.activeLinkM               {color: black         }

.talkerBlockA_D            {color: deepskyblue;  }
.talkerBlockA_D:hover      {color: royalblue;    }
.talkerBlockA_D:active     {color: blue;         }
.activeLinkD               {color: red;          }

.talkerBlockA_E            {color: blueviolet    }
.talkerBlockA_E:hover      {color: blue          }
.talkerBlockA_E:active     {color: black         }
.activeLinkE               {color: darkred       }

.talkerBlock:hover {
    overflow-x: auto;
}

.talkerBlock::-webkit-scrollbar {
    background-color: lightyellow;
    height: 7px;
    width: 90%;
    padding-top: 50px;
    -webkit-box-shadow: inset 0 0 6px grey;
    top: 10px;
}

.talkerBlock::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
}

.talkerBlock::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
}

.talkerBlock::-webkit-scrollbar-button {
    /*background-color: blue;*/
}
.talkerBlock::-webkit-scrollbar-track-piece {
    /*background-color: blue;*/
}

.talkerBlock img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.dialogsAreaAndSender {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*outline: 2px solid blue;*/
    overflow: visible;

    min-height: 600px;
    height: auto!important;
    /*max-height: calc(100vh - 150px );*/
    max-height: calc(100vh - 150px );
}

.editWrapper {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nameInHeaderN { color: black} 
.nameInHeaderM { color: black}
.nameInHeaderD { color: black}
.nameInHeaderE { color: white}

.dialogArea {
    /*outline: 2px solid blue;*/
    grid-area: specificDialog;
    width: 95%;
    margin: 0 auto 0 auto;
    border-radius: 20px 20px 0 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: calc(500px - 150px);
    /*height: auto!important;*/
    height: 100vh;
    /*max-height: 1500px;*/
}

.dialogAreaN,.textareaN {background-color: #fdfdfd;     }
.dialogAreaM,.textareaM {background-color: #faffd3;     }
.dialogAreaD,.textareaD {background-color: lightyellow; }
.dialogAreaE,.textareaE {background-color: #ffe1e1;     }

.noDialogsList {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noDialogsList p {
    font-size: 28px;
    font-weight: 600;
}


.certainLDRWrapper {
    height: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .dialogArea img {
    height: 20%;
    width: 30%;
    margin: 25% auto; 
} */

.dialogArea:last-child {
    background-color: red;
}

.oldMsgsLoader {
    /*outline: 2px solid red;*/
    display: flex;
    height: 20px;
}

.oldMsgsLoader img {
    margin: 0 auto;
    width: 100%;
    height: 20px;
    /*outline: 2px solid red;*/
}

/* .oldMsgsLoader button {
    margin: 0;
    color: red;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: transparent;
    background-color: transparent;
} */

.prevBTNLdrBasic {
    margin: 0;
    color: red;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: transparent;
    background-color: transparent;
}
.BTNActive  {
    border: 2px solid grey;
    cursor: pointer;
}
.BTNPassive {
    cursor: default;
}


.addPrevBTNHidden {
    opacity: 0;
    pointer-events: none;
}

.addPrevBTNShown {
    opacity: 1;
    pointer-events: auto;
}


.msgStatWrapper {
    display: flex;
     /* width: 210px; */
    width: max-content;
    justify-content: center;
    margin: 0 0 0 auto;
}

.messageBlockMe,
.messageBlockUser {
    padding: 2px 15px 5px 15px;
    min-width: 20%;
    width: auto !important;;
    max-width: 60%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.ldrAndErr {
    height: 25px;
    width:  25px;
    margin: 5px 10px 0 0;
    /* background-color: red; */
}

.checkMark {
    margin: 5px 0 0 10px;
    height: 18px;
}

.errorMarker {
    color: red;
    font-size: 16px;
    margin: 5px 0;
}


.contextMenu {
    width: 200px;
    height: auto;
    border: 2px solid red;
    font-size: 25px;
    background-color: wheat;
    border-radius: 10px;
    position: absolute;
}
.contMenuMyMsg {
    top: 0;
    left: -210px;
    z-index:  50;
}
.contMenuFriendMsg {
    top: 0;
    right: -220px;
    z-index:  50;
}


.contextMenuUpper {
    display: flex;
    justify-content: space-between;
}

.contextMenuUpper button {
    border-radius: 50%;
}

.repeatNSpam {
    width: auto;
}

.deleteMsg {
    border-top: 2px solid red;
}

.contextMenuUpper:hover, 
.deleteMsg:hover{ 
    background-color: red;
}

.messageBlockMe {
    border-radius: 15px 15px 5px 15px;
    margin: 15px 25px 25px auto;
}

.messageBlockMe::after {
    content: '';
    border: 20px solid transparent;
    position: absolute; /* Абсолютное позиционирование */
    right: -15px; bottom: 0; /* Положение треугольника */
    /*border-left: 20px solid lightgreen; !* Прозрачные границы *!*/
    /*border-left: 20px solid red; !* Прозрачные границы *!*/
    /*border-top: 10px solid green; !* Добавляем треугольник *!*/
    transform: rotate(-80deg)
}

.messageBlockUser::after {
    content: '';
    border: 20px solid transparent;
    position: absolute;
    left: -15px;
    bottom: 0;
    /*background-color: #cef3ff;
    /*background-color: red;*/
    /*border-top: 10px solid red;*/
    border-top: 20px solid #cef3ff;
    transform: rotate(-190deg)
}

.myMsgN            {background-color: #b8e9b8;                       }
.myMsgN::after     {content:'';border-left: 20px solid #b8e9b8;      }

.myMsgM            {background-color: #abffab;                       }
.myMsgM::after     {content:''; border-left: 20px solid #abffab;     }

.myMsgD            {background-color: lightgreen;                    }
.myMsgD::after     {content:'';  border-left: 20px solid lightgreen; }

.myMsgE            {background-color: #6fd76f;                       }
.myMsgE::after     {content:''; border-left: 20px solid #6fd76f;     }


.userMsgN          {background-color: #a6ebff;                       }
.userMsgN::after   {content:''; border-top: 20px solid #a6ebff;      }

.userMsgM          {background-color: #c7eef9;                       }
.userMsgM::after   {content:'';border-left: 20px solid #c7eef9;      }

.userMsgD          {background-color: #cef3ff;                       }
.userMsgD::after   {content:''; border-top: 20px solid #cef3ff;      }

.userMsgE          {background-color:  #cef3ff;                      }
.userMsgE::after   {content:''; border-top: 20px solid #cef3ff;      }


.messageBlockUser {
    border-radius: 15px 15px 15px 0;
    margin: 15px auto 25px 20px;
}

.messageBlockMe:hover,
.messageBlockUser:hover {
    transition: 100ms;
    filter: grayscale(.70);
}

.messageBody {
    color: black;
    font-size: 24px;
    margin: 0;
    text-align: left;
}


.messageBlockTimeMe {
    color: green;
    font-size: 16px;
    margin: 5px 0;
    text-align: right;
}

.messageBlockTimeUser {
    color: blue;
    font-size: 16px;
    margin: 5px 0;
    text-align: right;
}


.dialogArea::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

.dialogArea::-webkit-scrollbar-thumb {
    height: 50px;
}

.dialogArea::-webkit-scrollbar-button:single-button {
    height: 20px;
    border-radius: 12%;
}
/*.dialogAreaNight::-webkit-scrollbar-thumb {background-color: deepskyblue;}*/
/*.dialogAreaNight::-webkit-scrollbar-button:single-button {background-color: deepskyblue;}*/

/*.dialogAreaMorning {}*/
/*.dialogAreaDay::-webkit-scrollbar-thumb { background-color: lightskyblue;}*/
/*.dialogAreaDay::-webkit-scrollbar-button:single-button { background-color: lightskyblue;}*/

/*.dialogAreaEvening::-webkit-scrollbar-thumb {background-color: darkred;}*/
/*.dialogAreaEvening::-webkit-scrollbar-button:single-button  {background-color: darkred;}*/



.sender {
    height: 180px;
    /*background-color: red;*/
    border-radius: 0 0 20px 0;
    width: 100%;
    position: relative
}

.scrollToDownBtnHidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}


.scrollToPrevHeightBTN,
.scrollToDownBtn {
    opacity: 1;
    position: absolute;
    top:  -90px;
    right: 45px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid grey;
    cursor: pointer;
    outline:none;
}

.scrollToPrevHeightBTN img {
    transform: rotate(180deg)
}

.sender form {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.txtAreaField{
    /*text-indent: 25px;*/
    width: 93%;
    padding-left: 2%;
    margin: 25px 0 0 0;
    outline: none;
    resize: none;
    height: 70px;
    border: none;
    font-size: 22px;
    border-radius: 0 0 20px 20px;
}


.sender .sendBTN {
    margin: 10px 0 0 0;
    font-size: 25px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    outline: none;
}
.sendBTN_N                  {background-color: #4967ff;}
.sendBTN_N:hover:enabled    {background-color: midnightblue;color:white}
.sendBTN_N:active:enabled   {background-color: darkblue;color:white}


.sendBTN_M                  {background-color: #ff652a;}
.sendBTN_M:hover:enabled    {background-color: #ff5b1d;color:white}
.sendBTN_M:active:enabled   {background-color: #ff4700;color:white}


.sendBTN_D                  {background-color: #98eaff;}
.sendBTN_D:hover:enabled    {background-color: #6ad3ff;color:black }
.sendBTN_D:active:enabled   {background-color: #3ad7ff;color:black}


.sendBTN_E                  {background-color: indianred;}
.sendBTN_E:hover:enabled    {background-color: darkred; color:white}
.sendBTN_E:active:enabled   {background-color: red; color:white}


