.profile {
    /*background-color: lightyellow;*/
    opacity: 0.9;
}
.profileNight {background-color: #72c6e1;}
.profileMorning {background-color: #ffad6c;}
.profileDay {background-color: lightyellow;}
.profileEvening {background-color: #eba0a0;}

.loaderDiv {
    width: 100%;
    display: flex;
}

.loader {
    margin: 100px auto;
}

.panorama img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.profileWrapper {
    width: 98%;
    margin: 0 auto;
}

.profileDetails {
    display: flex;
}

.profilePicNBTN {
    width: 35%;
}


.profilePicNBTN img {
    border-radius: 5px;
    width: 100%;
    vertical-align: center;
}

.fileInput {
    display: none;
}

.fileChooser,
.writeMessage {
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
}

.BTNsNight{background-color: #4967ff;}
.BTNsNight:hover{background-color: midnightblue;color:white}
.BTNsNight:active{background-color: darkblue;color:white}


.BTNsMorning{background-color: #ff652a;}
.BTNsMorning:hover{background-color: #ff5b1d;}
.BTNsMorning:active{background-color:#ff4700;}


.BTNsDay{background-color: #ffff92;}
.BTNsDay:hover{background-color: #fdfd69;color:black }
.BTNsDay:active{background-color: #f1f14f;color:black}


.BTNsEvening{background-color: indianred;}
.BTNsEvening:hover{background-color: darkred; color:white}
.BTNsEvening:active{background-color: red; color:white}


.profileInfo {
    width: 65%;
    margin-left: 5%;
    border-top: 2px solid lightgreen;
}

.profileInfo h2 {
    font-size: 35px;
    margin: 0
}

.profileInfo ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    font-size: 24px;
}



.statusBlock {
    position: relative;
    height: 50px;
}

.writePost {
    border-top: 2px solid lightgreen;
    width: 100%;
}

.writePost h2 {
    width: 160px;
    text-align: center;
}

.inputBox {
    width: 90%;
    margin: 0 auto;
}

.writePost textarea {
    margin: 0 auto;
    grid-area: inp;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    font-size: 26px;
    outline: none;
    resize: none;
}

.inputNight{background-color: #b9ebff}
.inputMorning{background-color: #fff2eb}
.inputDay{background-color: #feffeb}
.inputEvening{background-color: #ffc8d9}

.writePost button {
    grid-area: snd;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    /*background-color: wheat;*/
}
