.modalWindow {
    position: absolute;
    height: 300px;
    width: 80%;
    /*background-color: lightgoldenrodyellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    top: 40px;
    left: 10%;
    border: 1px solid black;
}

.mWindow_N {background-color: red}
.mWindow_M {background-color: red}
.mWindow_D {background-color: lightgoldenrodyellow}
.mWindow_E {background-color: #fef0f0}

.statusTextArea {
    width: 700px;
    /*height: 40px;*/
    outline: none;
    font-size: 30px;
    resize: none;
    border-radius: 10px;

    min-height: 40px;
    /*height: auto !important;*/
    height: 500px;
    max-height: 150px

}

.inputN   {background-color: #b9ebff; border: 2px solid midnightblue;  }
.inputM   {background-color: #fff2eb; border: 2px solid #ff5b1d;       }
.inputD   {background-color: #feffeb; border: 2px solid lightgreen;    }
.inputE   {background-color: #faebeb; border: 2px solid darkred;       }

.twoBTNs {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.twoBTNs button{
    font-size: 30px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    outline: none;
}

.BTNChangeSaver {
    background-color: lightgreen;
}

.BTNChangeSaver:hover {
    cursor: pointer;
}

.BTNChangeReject {
    background-color: lightcoral;
}
.BTNChangeReject:hover {
    cursor: pointer;
}

.statusWrapper {
    margin: 15px 0 15px 0;
    /*text-align: center;*/
    font-size: 22px;
}

.statusWrapper:hover {
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;

}

.statusField {
    display: inline;
}