.header {
    width: 100%;
    border-radius: 15px 15px 3px 3px;
    /*background-color: lightSkyBlue;*/
    display: grid;
    grid-template-areas: "boofer logotype login";
    grid-template-columns: 1fr 3fr 1fr;
    vertical-align: center;
}
.headerNight   {background-color: midnightblue;}
.headerMorning {background-color: #ffffa3;}
.headerDay     {background-color: lightskyblue;}
.headerEvening {background-color: darkred;}

.buffer {
    grid-area: boofer;
}

.logotype {
    grid-area: logotype;
    display: flex;
    /*width: 70%;*/
    /*justify-content: center;*/
    margin: 0 auto;

    /*grid-template-columns: 2fr 3fr;*/

    padding-top: 10px;
}

.logotype img {
    border-radius: 230px 230px 20px 20px;
    width: 80px;
    height: 80px;
}

.logotype h1 {
    width: 280px;
    /*color: white;*/
    /*color: lightyellow;*/
    text-align: center;
}
.logoTypeH1Night   {color: lightyellow;}
.logoTypeH1Morning {color: black;}
.logoTypeH1Day     {color: white;}
.logoTypeH1Evening {color: lightyellow;}

.login {
    grid-area: login;
    /*margin: 45px auto 0 auto;*/
    margin-top: 45px;
}

.logOutBTN {
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
}

.logOutBTN img {
    width: 30px;
    /*height: 30px;*/
}

.loginTrue {
    display: flex;
    justify-content: center;
    height: 30px;
}

.loginTrue img {
    width: 30px;
    cursor: pointer;
    /*height: 30px;*/
}

.login h4  {
    text-align: center;
    margin: 0 15px 0  0;
}
.loginH4Night {color: lightyellow;}
.loginH4Morning {color: black;}
.loginH4Day {color: white;}
.loginH4Evening {color: lightyellow;}


.loginHref {
    text-align: center;
    margin: 0;
}
.loginHrefNight{color: lightyellow;}
.loginHrefMorning{color: black;}
.loginHrefDay{color: white;}
.loginHrefEvening{color: lightyellow;}


.login a {
    text-decoration: none;
}