.blockMenu {
    height: 100%;
    display: grid;
    border-radius: 4px 4px 4px 20px;
}
.blockMenuNight{background-color: lightskyblue;}
.blockMenuMorning{background-color: #ff8151;}
.blockMenuDay{background-color: lightgreen;}
.blockMenuEvening{background-color: #dd527e;}

.menu {
    margin: 0 0 0 0;
    list-style-type: none;
    font-family: Verdana;
    font-size: 26px;
    font-weight: bold;
    padding: 0;

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*text-align: center;*/
}

.menu li:first-child {
    margin-top: 15px;
}

.menu li {
    /*margin: 35px 0 35px 30% ;*/
    width: 70%;
    padding: 20px 0 20px 32%;
}

.linkNight{color: blue;text-decoration: none;}
.linkNight:hover {color: #cefdff;}
.linkNight:active {color: white;}
.menu a.activeLinkNight {color: white;}


.linkMorning {color: #f6fff6;text-decoration: none;}
.linkMorning:hover {color: #3d3030;}
.linkMorning:active {color: black;}
.menu a.activeLinkMorning {color: black;}


.linkDay {color: darkgreen;text-decoration: none;}
.linkDay:hover {color: orangered;}
.linkDay:active {color: red;}
.menu a.activeLinkDay {color: red}


.linkEvening {color: purple;text-decoration: none;}
.linkEvening:hover {color: lightcoral;}
.linkEvening:active {color: red;}
.menu a.activeLinkEvening {color: darkred;}


.dialogsSpan {

}

.dialogsSpan:hover button {
    /*display: block;*/
    opacity: 1;
    transition: 250ms;
}

.dialogsSpan a {
    position: relative;
}

.dialogsSpan button  {
    /*display: none;*/
    width: 50px;
    height: 50px;
    transition: 750ms;
    /*opacity: 0;*/
    /*height: 50px;*/
    position: absolute;
    margin-left: -70px;
    margin-top: -8px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
    color: green;
}

.hidden {
    opacity: 0;
}
.showed {
    opacity: 1;
}

.dialogsSpan button img {
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

.dialogsSpan button:hover {
    border-width: 2px;
    color: dodgerblue;
}

.dialogsSpan button:disabled {
    opacity: 1;
    color: gray;
}

.errorImg {
    /*opacity: 1;*/
    /*background-color: red;*/
    position: absolute;
    width: 30px;
    margin-top: 15px;
}


.dialogsSpan p {
    opacity: 1;
    /*position: absolute;*/
    color: green;
    margin-left: 120px;
    margin-top: -30px;
    margin-bottom: 0;

}
