body {
    /*background-color: lightyellow;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.container {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;

    grid-template-areas:
            'header header'
            'navBar content';

    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 4fr;
}

.header {
    grid-area: header;
}

.navBar {
    grid-area: navBar;
}

.content {
    grid-area: content;
}
